.chatWindow {
  display: block;
  /* background: linear-gradient(
    var(--color-neutral-alpha),
    var(--color-light-blue-alpha)
  ); */
  height: 100vh;
  width: 100vw;
}

.scrollIndicator {
  display: block;
  padding: 0.875rem 1.5rem;
  clear: both;
}
