@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap");

:root {
  --color-primary-100: #7a5bfe;
  --color-neutral-100: white;
  --color-gray-100: #303437;
  --color-cream-100: #f2f2f2;
  --color-light-blue-100: #dee2fb;
  --color-light-blue-alpha: #dee2fb54;
  --color-neutral-alpha: #f8f9ff60;
  --color-neutral-500: #f8f9ff;
  --color-neutral-200: #747474;

  --font-small: 400 0.875rem/1.25rem;
  --font-med: 400 1rem/1.5rem;
  --font-large: 600 1.5rem/2rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Kanit", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
